.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  align-items: center;
  background-color: #000000;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}
.center{
  position: left;
  margin-left: 800px;
}

.button{
  margin-left: 20px;
  border-radius: 16px;
  font-size: 16px;
  background-color:  #ff0080;
  color: white;

}